<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Bookmarks</title>
    <!-- Bootstrap CSS 추가 -->
    <link rel="stylesheet" href="/css/posts.css"/>
</head>

<body th:with="leftSidebar=false, rightSidebar=false">
<!-- 메인 컨텐츠 부분 시작 -->
<div layout:fragment="content" class="container mt-4">

    <div class="card-container">
        <div th:each="postForm : ${posts}">
            <a th:href="@{'/posts/' + ${postForm.id}}" class="card-link">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${postForm.title}">Post Title</h5>
                        <!-- 마크다운으로 작성된 콘텐츠를 HTML로 변환하여 출력 -->
                        <div class="card-text" th:utext="${postForm.renderedContent}">Post Content</div> <!-- 수정: th:text에서 th:utext로 변경하여 HTML로 변환된 콘텐츠 출력 -->
                        <small class="text-muted post-date" th:text="${postForm.postDate}">Post Date</small>
                        <div class="hashtag-container">
                            <span class="hashtag" th:each="hashtag : ${postForm.hashtags}" th:text="'#' + ${hashtag.hashtag.name}"></span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- 메인 컨텐츠 부분 끝 -->

</body>
</html>
