/*body {*/
/*    overflow-x: hidden; !* 가로 스크롤 방지 *!*/
/*    min-width: 630px; !* 최소 너비 설정 *!*/
/*}*/

/*textarea {*/
/*    width:100%;*/
/*}*/

/*input[type=submit] {*/
/*    margin-top:10px;*/
/*}*/

/*.tab-content > .tab-pane {*/
/*    display: none;*/
/*}*/
/*.tab-content > .active {*/
/*    display: block;*/
/*    animation: slideDown 0.5s ease-out;*/
/*}*/
/*@keyframes slideDown {*/
/*    from {*/
/*        opacity: 0;*/
/*        transform: translateY(-10%);*/
/*    }*/
/*    to {*/
/*        opacity: 1;*/
/*        transform: translateY(0);*/
/*    }*/
/*}*/

#category-container {
    max-height: 100px; /* 적절한 높이로 설정 */
    overflow-x: auto; /* 수직 스크롤 추가 */
    margin-bottom: 10px; /* 아래쪽 여백 추가 */
    padding: 10px; /* 내부 여백 추가 */
    border: 1px solid #ddd; /* 테두리 추가 */
    background-color: #f9f9f9; /* 배경색 추가 */
    display: flex; /* 플렉스 컨테이너로 설정 */
    flex-wrap: wrap; /* 항목들이 줄바꿈되도록 설정 */
}


/* 동적으로 생성되는 카테고리의 스타일 */
.list-group-category {
    border-radius: 5px;
    display: flex; /* Flexbox 사용 */
    flex-direction: row;
    white-space: nowrap;
    justify-content: center; /* 중앙 정렬 */
    flex-wrap: nowrap;
    width: 200px; /* 전체 너비 차지 */
}

.list-group-category-item {
    margin-right: 10px; /* 항목 간의 간격 */
    padding: 10px; /* 항목 내부 여백 */
    /*background-color: #f9f9f9; !* 항목 배경색 *!*/
    /*border-radius: 5px; !* 항목 모서리 둥글게 *!*/
    text-decoration: none; /* 링크 밑줄 제거 */
    color: #007bff; /* 텍스트 색상 */
    flex: none; /* 항목들이 동일한 크기로 확장되지 않도록 설정 */
    text-align: center; /* 텍스트 중앙 정렬 */
}

.list-group-category-item:last-child {
    margin-right: 0; /* 마지막 항목의 오른쪽 여백 제거 */
}

.list-group-category-item:hover {
    color: #007bff; /* 텍스트 색상 */
    border-radius: 5px; /* 항목 모서리 둥글게 */
    text-decoration: underline; /* 링크 밑줄 추가 */
    background-color: #E0EBF8 !important; /* 항목에 마우스를 올렸을 때 배경색 변경 */
}

.center-container {
    display: flex;
    justify-content: center;
}

.nav-pills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* 항목들이 줄바꿈되지 않도록 설정 */
    white-space: nowrap; /* 텍스트 줄바꿈 방지 */
    padding: 0;
    margin: 0;
}

.nav-pills .nav-item {
    flex: 1; /* 항목들이 동일한 비율로 공간을 차지하도록 설정 */
    text-align: center; /* 항목들을 가운데 정렬 */
    margin-right: 100px;
}

.nav-pills .nav-link {
    font-size: 1.25rem; /* 글씨 크기 설정 */
}

/* 반응형 디자인을 위해 화면 크기에 따라 간격을 조절 */
@media (max-width: 1200px) {
    .nav-pills .nav-item {
        margin-right: 50px; /* 화면이 좁아질 때 간격을 줄임 */
    }

    .user-profile button {
        padding: 8px 8px;
    }

    .user-profile button .profile-logo {
        width: 25px;
        height: 25px;
        margin-right: 8px;
    }
}

@media (max-width: 992px) {
    .nav-pills .nav-item {
        margin-right: 20px; /* 화면이 더 좁아질 때 간격을 줄임 */
    }

    .user-profile button {
        padding: 6px 6px;
    }

    .user-profile button .profile-logo {
        width: 20px;
        height: 20px;
        margin-right: 6px;
    }

    #category-container {
        justify-content: center; /* 중간 정렬 */
    }
}

@media (max-width: 768px) {
    .nav-pills .nav-item {
        margin-right: 10px; /* 화면이 더 좁아질 때 간격을 줄임 */
        flex: 1 0 100%; /* 항목들을 한 줄에 배치 */
    }

    .user-profile button {
        padding: 4px 4px;
    }

    .user-profile button .profile-logo {
        width: 15px;
        height: 15px;
        margin-right: 4px;
    }

    #category-container {
        flex-direction: column; /* 세로로 배치 */
        align-items: flex-start; /* 세로 정렬 */
    }
}

/* 프로필 메뉴 관련 추가된 CSS */
.user-profile {
    position: relative;
}

.user-profile button {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 5px;
    display: flex; /* Flexbox를 사용하여 이미지와 텍스트를 배치 */
    align-items: center; /* 이미지와 텍스트를 수직 중앙 정렬 */
    white-space: nowrap; /* 텍스트 줄바꿈 방지 */
}

.user-profile button .profile-logo {
    width: 30px; /* 로고 이미지의 너비를 설정 */
    height: 30px; /* 로고 이미지의 높이를 설정 */
    margin-right: 10px; /* 이미지와 텍스트 사이의 간격 설정 */
}

.profile-menu {
    display: none; /* 기본적으로 숨겨진 상태 */
}

.profile-menu.hidden {
    display: none;
}

.profile-menu.visible {
    display: block;
    position: absolute;
    top: 60px;
    right: 0;
    width: 200px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px;
    z-index: 1000;
}

.profile-content button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f8f8f8;
    border: 2px solid #000000; /* 테두리 색상을 변경 */
    cursor: pointer;
    border-radius: 5px;
    white-space: nowrap; /* 텍스트 줄바꿈 방지 */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu span {
    margin-right: 20px;
}

#profileMenuContainer {
    position: absolute;
    top: 60px;
    right: -20px;
    width: 330px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 25px;
    z-index: 1000;
}

/* 채팅창 스타일 */
.chat-container {
    position: fixed;
    bottom: 20px;
    right: 5px;
    width: 300px;
    height: 140px; /* 기본 높이 설정 */
    border: 1px solid #ccc;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: height 0.5s ease; /* 크기 변경 애니메이션 */
}
/*.chat-container.minimized {*/
/*    height: 140px; !* 최소 높이 설정 *!*/
/*}*/

.chat-container {
    position: fixed;
    bottom: 20px;
    right: 5px;
    width: 300px;
    height: 140px; /* 기본 높이 설정 */
    border: 1px solid #ccc;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: height 0.5s ease; /* 크기 변경 애니메이션 */
}

.chat-container.expanded {
    height: 300px; /* 확장된 높이 */
}
.chat-header {
    background-color: #007bff;
    color: white;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}
.chat-messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
}
.chat-input {
    display: flex;
    border-top: 1px solid #ccc;
}
.chat-input input {
    flex: 1;
    padding: 10px;
    border: none;
    border-right: 1px solid #ccc;
}
.chat-input button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}
.chat-message {
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    max-width: 80%;
    word-wrap: break-word;
}

.chat-message.current-user {
    background-color: #e1e1e1 !important;
    align-self: flex-end !important; /* 오른쪽 정렬 */
}

.chat-message.other-user {
    background-color: #d1e7dd !important;
    align-self: flex-start !important; /* 왼쪽 정렬 */
}



/*해쉬태그*/

.inp_tag {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 5px;
}

.hashtags-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    flex: 1;
}

.hashtag {
    display: flex;
    align-items: center;
    background-color: #e0e0e0;
    border-radius: 15px;
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    cursor: default;
    white-space: nowrap; /* 텍스트 줄바꿈 방지 */
}

.remove-button {
    background: none;
    border: none;
    margin-left: 5px;
    color: #888;
    cursor: pointer;
}

.hashtag-input {
    border: none;
    outline: none;
    flex: 1;
    min-width: 100px;
    margin-bottom: 5px;
}

/*댓글*/
.rounded-rectangle-container {
    border: 2px solid #000; /* 원하는 테두리 색상으로 변경하세요 */
    border-radius: 15px; /* 둥근 모서리의 반경 */
    padding: 20px;
    margin: 20px 0;
}

.search-result-item {
    padding: 8px;
    cursor: pointer;
    border-radius: 4px;
    margin: 2px 0;
    transition: background-color 0.3s, color 0.3s;
}

/* 호버 스타일 */
.search-result-item:hover {
    background-color: #f0f0f0; /* 마우스를 올렸을 때 배경색 */
    color: #333; /* 마우스를 올렸을 때 텍스트 색상 */
}

/* 강조된 항목 스타일 */
.search-result-item.highlighted {
    background-color: #007bff; /* 강조된 배경색 */
    color: #fff; /* 강조된 텍스트 색상 */
    font-weight: bold; /* 강조된 항목을 굵게 표시 */
}

