<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="container">
    <div class="login-box">
        <div class="small-logo">
            <img src="img/small_logo.png" alt="Small Logo">
        </div>
        <h2>로그인</h2>
        <form th:action="@{/login}" method="post">
            <div class="textbox">
                <input type="email" placeholder="이메일" th:field="*{email}" required>
            </div>
            <div class="textbox">
                <input type="password" placeholder="비밀번호" th:field="*{password}" required>
            </div>
            <button type="submit" class="btn">접속</button>
            <div class="social-login">
                <a href="#" id="naver-login">
                    <img src="img/naver_login.png" alt="N 로그인">
                </a>
                <a href="#" id="kakao-login">
                    <img src="img/kakao_login.png" alt="카카오 로그인">
                </a>
            </div>
            <div class="signup-prompt">
                <p>KOSA MSA5기 수강생 이신데, 아직 회원가입을 안하셨나요?</p>
                <a href="/signup" th:href="@{/templates/signup}" class="signup-link">회원가입</a>
            </div>
        </form>
    </div>
    <div class="logo-box">
        <img src="img/big_logo.png" alt="KOMMUNITY KOSA MSA5 2024">
    </div>
</div>
</body>
</html>
