<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" >
<head>
    <meta charset="UTF-8">
    <title>Post Detail</title>
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/detail.css}">
</head>
<body>
<!-- 메인 컨텐츠 부분 시작 -->
<div layout:fragment="content" class="container mt-4">
    <div class="detail-card">
        <!-- Post 섹션 -->
        <div class="post-section">
            <h1 th:text="${post.title}">게시글 제목</h1>
            <div class="post-meta">
                <small class="text-muted" th:text="${post.member.nickname}">작성자</small>
                <small class="text-muted" th:text="${#temporals.format(post.postDate, 'yyyy-MM-dd HH:mm')}">작성 날짜</small>
            </div>
            <p th:text="${post.content}">게시글 내용</p>

        </div>
        <!-- 댓글 섹션 -->
        <div class="comments-section">
            <h2>댓글</h2>
            <div th:each="comment : ${comments}">
                <div class="comment">
                    <p th:text="${comment.commentContent}">댓글 내용</p>
                    <div class="comment-meta">
                        <small class="text-muted" th:text="${comment.member.nickname}">작성자</small>
                        <small class="text-muted" th:text="${#temporals.format(comment.commentDateTime, 'yyyy-MM-dd HH:mm')}">작성 날짜</small>
                    </div>
                </div>
                <hr/>
            </div>
        </div>
    </div>
</div>
<!-- 메인 컨텐츠 부분 끝 -->
</body>
</html>
