<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Posts</title>
    <!-- Bootstrap CSS 추가 -->
    <link rel="stylesheet" href="/css/posts.css"/>
</head>
<body>

<!-- 메인 컨텐츠 부분 시작 -->
<div layout:fragment="content" class="post-container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <div class="d-flex align-items-center">
            <div>
                <a th:if="${isAllCategories}" th:href="@{'/posts/new/' + ${board.boardId}}"
                   class="btn btn-primary">글쓰기</a>
                <a th:if="${!isAllCategories}"
                   th:href="@{'/posts/new/' + ${board.boardId} + '?categoryId=' + ${category.categoryId}}"
                   class="btn btn-primary">글쓰기</a>
            </div>
        </div>
        <div>
            <select id="sortSelect" class="form-select">
                <option th:value="'desc'" th:selected="${selectedSort == 'desc'}">최신순</option>
                <option th:value="'asc'" th:selected="${selectedSort == 'asc'}">오래된 순</option>
                <option th:value="'bookmarks'" th:selected="${selectedSort == 'bookmarks'}">북마크순</option>
                <option th:value="'comments'" th:selected="${selectedSort == 'comments'}">댓글순</option>
            </select>
        </div>
    </div>

    <div class="card-container">
        <div th:each="postForm : ${posts}">
            <a th:href="@{'/posts/' + ${postForm.id}}" class="card-link">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${postForm.title}">Post Title</h5>
                        <!-- 마크다운으로 작성된 콘텐츠를 HTML로 변환하여 출력 -->
                        <div class="card-text" th:utext="${postForm.renderedContent}">Post Content</div>
                        <!-- 수정: th:text에서 th:utext로 변경하여 HTML로 변환된 콘텐츠 출력 -->
                        <div class="hashtag-container">
                            <span class="hashtag" th:each="hashtag : ${postForm.hashtags}"
                                  th:text="'#' + ${hashtag.hashtag.name}"></span>
                        </div>
                        <div class="post-date">
                            <small class="text-muted post-date float-right"
                                   th:text="${#temporals.format(postForm.postDate, 'yyyy-MM-dd HH:mm:ss')}">Post Date</small>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<script>
    function formatDate(dateString) {
        const date = new Date(dateString);
        const options = { year: 'numeric', month: 'long', day: 'numeric', hour: '2-digit', minute: '2-digit', second: '2-digit' };
        return date.toLocaleDateString('ko-KR', options);
    }
</script>
</body>
</html>
