<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Post Form</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/create.css">
</head>
<body th:with="leftSidebar=false, rightSidebar=false">

<div layout:fragment="content" class="container col-md-8 mt-5">
    <div class="form-container">
        <div class="card">
            <div class="card-body">
                <button type="button" class="close-btn" onclick="window.history.back();">X</button>
                <form th:action="@{/posts/update/{postId}(postId=${postForm.id})}" th:object="${postForm}" method="post">
                    <div class="form-group">
                        <label>게시 위치</label>
                        <div class="radio-container">
                            <div class="custom-radio" th:each="category : ${categories}">
                                <input type="radio" th:field="*{categoryId}" th:value="${category.categoryId}"
                                       th:id="'category-' + ${category.categoryId}" required/>
                                <label th:for="'category-' + ${category.categoryId}" th:text="${category.name}"></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="title">제목</label>
                        <input type="text" id="title" th:field="*{title}" class="form-control" required/>
                    </div>
                    <div class="form-group">
                        <label for="content">내용</label>
                        <textarea id="content" th:field="*{content}" class="form-control" rows="5" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="strHashtag">해시태그</label>
                        <input type="text" id="strHashtag" th:field="*{strHashtag}" class="form-control"
                               placeholder="#자소서 #지원동기" required/>
                    </div>
                    <div class="d-flex justify-content-between">
                        <input type="hidden" th:field="*{boardId}" th:value="${boardId}"/>
                        <button type="submit" class="btn btn-primary">게시하기</button>
                        <a th:href="@{'/posts/' + ${postId}}" class="btn btn-secondary">글쓰기 취소</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
