/* posts css */
* {
    box-sizing: border-box;
}

.card {
    transition: transform 0.2s;
    cursor: pointer;
    margin-bottom: 1rem; /* 카드 사이의 거리 조절 */
    width: 100%; /* 카드의 너비 조절 */
    border-radius: 15px; /* 둥근 테두리 추가 */
    height: 200px; /* 카드의 고정 높이 설정 */
    overflow: hidden; /* 내용이 넘칠 경우 숨김 */
}

.card:hover {
    transform: scale(1.02);
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
}

.card-text {
    flex: 1;
    overflow: hidden; /* 내용이 넘칠 경우 숨김 */
    text-overflow: ellipsis; /* 내용이 넘칠 경우 말줄임표 표시 */
    display: -webkit-box;
    -webkit-line-clamp: 3; /* 최대 줄 수 설정 */
    -webkit-box-orient: vertical;
}

.post-date {
    white-space: nowrap;
    align-self: end;
}

.card-link {
    text-decoration: none;
    color: inherit;
    display: block; /* 카드 전체를 클릭할 수 있게 설정 */
    cursor: pointer; /* 커서를 포인터로 변경 */
}

.card-container {
    display: flex;
    flex-direction: column; /* 카드를 세로로 배치 */
    row-gap: 1rem; /* 카드 사이의 거리 조절 */
    margin: 0; /* 컨테이너의 마진 제거 */
    padding: 0; /* 컨테이너의 패딩 제거 */
}

.container {
    max-width: 100%; /* 컨테이너의 최대 너비를 설정 */
    padding-left: 15px; /* 좌측 패딩을 설정 */
    padding-right: 15px; /* 우측 패딩을 설정 */
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.hashtag {
    display: inline-block;
    background-color: #e1e1e1;
    border-radius: 3px;
    padding: 2px 5px;
    margin-right: 5px;
    font-size: 12px;
}
.hashtag-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 10px;
}

.searched-hashtags {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}
.searched-hashtags span {
    margin: 0 10px;
}