<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
<div class="category">
    <div class="category">
        <ul class="list-group">
            <li class="list-group-item" th:each="category : ${categories}">
                <a th:href="@{/category/{boardName}/{categoryName}(boardName=${board.name}, categoryName=${category.name})}" th:text="${category.name}"></a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>
