<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="category d-flex flex-row flex-wrap">
    <div class="list-group-category d-flex flex-row">
        <a class="list-group-category-item list-group-item-action" th:each="category : ${categories}"
           th:href="@{/category/{boardName}/{categoryName}(boardName=${board.name}, categoryName=${category.name})}"
           th:text="${category.name}"></a>
    </div>
</div>
</body>
</html>
