<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category</title>
</head>
<body>

<div class="category d-flex flex-row flex-wrap">
    <div class="list-group-category d-flex flex-row">
        <a class="list-group-category-item list-group-item-action"
           th:href="@{/posts/board/{boardId}(boardId=${board.boardId})}">전체</a>
        <a class="list-group-category-item list-group-item-action" th:each="category : ${categories}"
           th:href="@{/posts/category/{boardId}/{categoryId}(boardId=${board.boardId}, categoryId=${category.categoryId})}"
           th:text="${category.name}"></a>
    </div>
</div>
</body>
</html>