<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layout}">
<head>
    <title>Comment List</title>
    <style>
        .textarea-container {
            position: relative;
        }
        .textarea-with-btn {
            padding-right: 100px; /* Adjust as necessary to avoid overlap with the button */
            background-color: #E0EBF8; /* 배경 색상 설정 */
        }
        .submit-btn {
            position: absolute;
            bottom: 10px;
            right: 10px;
            z-index: 1;
        }
        .question-subject {
            margin-top: 10px;
            margin-left: 40px; /* Adjust the margin as needed */
        }

        .question-content .card-text {
            width: 600px; /* 너비를 600px로 설정 */
            height: 400px; /* 높이를 400px로 설정 */
            font-size: 1rem; /* 폰트 크기를 1rem로 설정 (필요에 따라 조정) */
            max-width: 300px; /* 최대 너비를 600px로 설정 (필요에 따라 조정) */
            padding: 10px; /* 내부 여백을 10px로 설정 (필요에 따라 조정) */
        }
        .comment-section {
            background-color: #ffffff; /* 배경색 지정 */
            padding: 15px; /* 내부 여백을 추가하여 더 잘 보이게 합니다 */
            border-radius: 5px; /* 모서리를 둥글게 */
        }
        .comment-section .comment-title {
            /*background-color: #E0EBF8; !* 배경 색상 설정 *!*/
            /*border-radius: 5px; !* 모서리를 둥글게 *!*/
        }
        .comment-section .comment-content {
            /*background-color: #E0EBF8; !* 배경 색상 설정 *!*/
            /*height: 400px; !* 높이를 400px로 설정 *!*/
        }
        .post-section {
            background-color: #E0EBF8; /* 배경 색상 설정 */
            border-radius: 15px; /* 둥근 모서리의 반경 */
        }
    </style>
</head>

<body th:with="leftSidebar=false, rightSidebar=false">

<div layout:fragment="content" class="container my-3">
    <div class="rounded-rectangle-container">
        <div class="row">
            <!-- 게시글 -->
            <div class="col-md-6 post-section">
                <h2 class="border-bottom py-2 question-subject" th:text="${question.subject}"></h2>
                <div class="card my-3">
                    <div class="card-body">
                        <div class="question-content">
                            <div class="card-text" th:utext="${@commonUtil.markdown(question.content)}"></div>
                        </div>
                        <!-- <div class="card-text" style="white-space: pre-line;" th:text="${question.content}"></div> -->
                        <div class="d-flex justify-content-end">
                            <div th:if="${question.modifyDate != null}"
                                 class="badge bg-light text-dark p-2 text-start mx-3">
                                <div class="mb-2">modified at</div>
                                <div th:text="${#temporals.format(question.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
                            </div>
                            <div class="badge bg-light text-dark p-2 text-start">
                                <div class="mb-2">
                                        <span th:if="${question.author != null}"
                                              th:text="${question.author.username}"></span>
                                </div>
                                <div th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                            </div>
                        </div>
                        <div class="my-3">
                            <a href="javascript:void(0);" class="recommend btn btn-sm btn-outline-secondary"
                               th:data-uri="@{|/question/vote/${question.id}|}">
                                좋아요
                                <span class="badge rounded-pill bg-success"
                                      th:text="${#lists.size(question.voter)}"></span>
                            </a>
                            <a href="javascript:void(0);" class="recommend btn btn-sm btn-outline-secondary"
                               th:data-uri="@{|/question/vote/${question.id}|}">
                                싫어요
                                <span class="badge rounded-pill bg-success"
                                      th:text="${#lists.size(question.voter)}"></span>
                            </a>
                            <a th:href="@{|/question/modify/${question.id}|}"
                               class="btn btn-sm btn-outline-secondary"
                               sec:authorize="isAuthenticated()"
                               th:if="${question.author != null and #authentication.getPrincipal().getUsername() == question.author.username}"
                               th:text="수정"></a>
                            <a href="javascript:void(0);" th:data-uri="@{|/question/delete/${question.id}|}"
                               class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
                               th:if="${question.author != null and #authentication.getPrincipal().getUsername() == question.author.username}"
                               th:text="삭제"></a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 댓글 리스트 -->
            <div class="col-md-6 comment-section">
                <!-- 댓글의 갯수 표시 -->
                <h5 class="border-bottom py-3 comment-title text-center"
                    th:text="|댓글 (${#lists.size(post.comments)})|"></h5>
                <!-- 댓글 작성 -->
                <form th:action="@{/comment/create}" th:object="${commentForm}" method="post"
                      class="my-3 textarea-container">
                    <div th:replace="~{form_errors :: formErrorsFragment}"></div>
                    <textarea sec:authorize="isAnonymous()" disabled th:field="*{content}" class="form-control textarea-with-btn"
                              rows="2"></textarea>
                    <textarea sec:authorize="isAuthenticated()" th:field="*{content}" class="form-control textarea-with-btn"
                              rows="2"></textarea>
                    <input type="submit" value="추가" class="btn btn-primary my-1 submit-btn">
                </form>

                <!-- 댓글 반복 시작 -->
                <div class="card my-3" th:each="comment : ${post.comments}">
                    <a th:id="|comment_${comment.commentId}|"></a>
                    <div class="card-body">
                        <div class="card-text" th:utext="${@commonUtil.markdown(comment.commentContent)}"></div>
                        <!-- <div class="card-text" style="white-space: pre-line;" th:text="${comment.commentContent}"></div> -->
                        <div class="d-flex justify-content-end flex-wrap">
                            <div th:if="${comment.modifyDate != null}"
                                 class="badge bg-light text-dark p-2 text-start mx-3">
                                <div class="mb-2">modified at</div>
                                <div th:text="${#temporals.format(comment.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
                            </div>
                            <div class="badge bg-light text-dark p-2 text-start">
                                <div class="mb-2">
                        <span th:if="${comment.member != null}"
                              th:text="${comment.member.username}"></span>
                                </div>
                                <div th:text="${#temporals.format(comment.commentDateTime, 'yyyy-MM-dd HH:mm')}"></div>
                            </div>
                        </div>
                        <div class="my-3">
                            <!--댓글 좋아요-->
                            <a href="javascript:void(0);" class="like btn btn-sm btn-outline-secondary"
                               th:data-uri="@{|/comment/like/${comment.commentId}|}">
                                좋아요
                                <span class="badge rounded-pill bg-success"
                                      th:text="${#lists.size(comment.likes)}"></span>
                            </a>
                            <!--댓글 싫어요-->
                            <a href="javascript:void(0);" class="dislike btn btn-sm btn-outline-secondary"
                               th:data-uri="@{|/comment/dislike/${comment.commentId}|}">
                                싫어요
                                <span class="badge rounded-pill bg-danger"
                                      th:text="${#lists.size(comment.hates)}"></span>
                            </a>
                            <a th:href="@{|/comment/update/${comment.commentId}|}" class="btn btn-sm btn-outline-secondary"
                               sec:authorize="isAuthenticated()"
                               th:if="${comment.member != null and #authentication.getPrincipal().getUsername() == comment.member.username}"
                               th:text="수정"></a>
                            <a href="javascript:void(0);" th:data-uri="@{|/comment/delete/${comment.commentId}|}"
                               class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
                               th:if="${comment.member != null and #authentication.getPrincipal().getUsername() == comment.member.username}"
                               th:text="삭제"></a>
                        </div>
                    </div>
                </div>
                <!-- 댓글 반복 끝  -->
            </div>

            <script layout:fragment="script" type='text/javascript'>
                const delete_elements = document.getElementsByClassName("delete");
                Array.from(delete_elements).forEach(function (element) {
                    element.addEventListener('click', function () {
                        if (confirm("정말로 삭제하시겠습니까?")) {
                            location.href = this.dataset.uri;
                        }
                    });
                });

                const like_elements = document.getElementsByClassName("like");
                Array.from(like_elements).forEach(function (element) {
                    element.addEventListener('click', function () {
                        if (confirm("정말로 좋아요 하시겠습니까?")) {
                            location.href = this.dataset.uri;
                        }
                    });
                });

                const dislike_elements = document.getElementsByClassName("dislike");
                Array.from(dislike_elements).forEach(function (element) {
                    element.addEventListener('click', function () {
                        if (confirm("정말로 싫어요 하시겠습니까?")) {
                            location.href = this.dataset.uri;
                        }
                    });
                });
            </script>
</div>
</body>
</html>
