<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- 사이드바를 사용하지 않을 때, 밑에 body 태그 사용-->
<!--<body th:with="leftSidebar=false, rightSidebar=false">-->

<div layout:fragment="sidebarLeft">
    <div th:replace="~{sidebars/left-sidebar :: leftSidebarFragment}"></div>
</div>

<div layout:fragment="sidebarRight">
    <div th:replace="~{sidebars/right-sidebar :: rightSidebarFragment}"></div>
</div>

<!-- 메인 컨텐츠  -->

<div layout:fragment="content" class="container my-3">
    <h1 class="text-center">Post 작성 중</h1>
    <a href="/comment">Go to Comment List</a>

</div>

</body>
</html>
