<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- 사이드바를 사용하지 않을 때, 밑에 body 태그 사용-->
<!--<body th:with="leftSidebar=false, rightSidebar=false">-->

<div layout:fragment="sidebarLeft">
    <div th:replace="~{sidebars/left-sidebar :: leftSidebarFragment}"></div>
</div>

<div layout:fragment="sidebarRight">
    <div th:replace="~{sidebars/right-sidebar :: rightSidebarFragment}"></div>
</div>

<!-- 메인 컨텐츠  -->
<div layout:fragment="mainContent" xmlns:layout="http://www.w3.org/1999/xhtml">
    <div class="board">
        <h1 th:text="${board != null ? board.name : '게시판 이름 없음'}"></h1>
    </div>
    <div class="posts">
        <ul>
            <li th:each="post : ${posts}">
                <h2 th:text="${post.title}"></h2>
                <p th:text="${post.content}"></p>
            </li>
        </ul>
    </div>
</div>

</body>
</html>
