<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="styles.css">

</head>
<body>
<div class="container">
    <div class="login-box">
        <div class="small-logo">
            <img src="small_logo.png" alt="Small Logo">
        </div>
        <h2>로그인</h2>
        <form th:action="@{/login}" th:object="${loginForm}" method="post">
            <div th:if="${param.error}">
                <div class="alert alert-danger">
                    사용자ID 또는 비밀번호를 확인해 주세요.
                </div>
            </div>
            <div class="textbox">
                <input name="email" type="email" placeholder="이메일" th:field="*{email}" required>
            </div>
            <div class="textbox">
                <input name="password" type="password" placeholder="비밀번호" th:field="*{password}" required>
            </div>
            <button type="submit" class="btn">접속</button>

            <div class="signup-prompt">
                <p>KOSA MSA5기 수강생 이신데, 아직 회원가입을 안하셨나요?</p>
                <a href="/kommunity/signup" class="signup-link">회원가입</a><br>
                <a href="/kommunity/change-pw" class="signup-link" style="margin-top: 10px; display: inline-block;">비밀번호 찾기</a>
            </div>
        </form>
    </div>
    <div class="logo-box">
        <img src="logo-transparent-svg.svg" alt="KOMMUNITY KOSA MSA5 2024">
    </div>
</div>
</body>
</html>
