<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <meta name="_csrf" th:content="${_csrf.token}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <title>Hello, Kommunity!</title>
</head>
<body>

<!-- 네비게이션바 -->
<nav th:replace="~{navbar :: navbarFragment(${boards}, ${boardCategories},${selectedBoardId})}"></nav>

<!-- 카테고리 컨테이너 -->
<div id="category-container" class="center-container">
    <th:block layout:fragment="category"></th:block>
</div>

<div class="container-fluid">
    <div class="row">
        <!-- 왼쪽 사이드바 -->
        <div class="col-md-2" id="sidebar-container" th:if="${leftSidebar != false}">
            <div th:replace="~{sidebars/left-sidebar :: leftSidebarFragment}"></div>
        </div>

        <!-- 메인 컨텐츠 -->
        <div class="col-md" id="content-container" th:classappend="${leftSidebar == false} ? 'col-md-12' : ''">
            <th:block layout:fragment="content"></th:block>
        </div>

        <!-- 오른쪽 사이드바 -->
        <div class="col-md-2" id="sidebar-right-container" th:if="${rightSidebar != false}">
            <div th:replace="~{sidebars/right-sidebar :: rightSidebarFragment}"></div>
        </div>
    </div>
</div>

<!-- 프로필 메뉴 컨테이너 -->
<div id="profileMenuContainer" class="profile-menu hidden"></div>

<script th:src="@{/jquery-3.7.1.min.js}"></script>
<script th:src="@{/bootstrap.min.js}"></script>
<script th:src="@{/sortable.min.js}"></script>

<!-- layout JS -->
<script th:src="@{/layout.js}"></script>

<!--chat JS-->
<!--chat JS-->
<script th:src="@{/stomp.min.js}"></script>
<script th:src="@{/sockjs.min.js}"></script>
<script th:src="@{/chat.js}"></script>
<script th:src="@{/detail.js}"></script>
<script th:src="@{/axios.min.js}"></script>
<script th:src="@{/hashtagSearch.js}"></script>

</body>
</html>
