<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Navigation Bar</title>
</head>
<body>
<nav th:fragment="navbarFragment(boards, boardCategories)" class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/images/logo.png" alt="SBB Logo" style="max-height: 60px;">
        </a>
        <div class="d-flex order-lg-2">
            <div class="user-profile me-2">
                <button id="profileBtn">
                    <img src="/images/defaultuser.png" alt="User" class="profile-logo">
                    <!--닉네임-->
                    <span id="navbar-nickname" th:text="${member.nickname}"></span>
                </button>
                <div id="profileMenuContainer" class="profile-menu hidden"></div>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse justify-content-center order-lg-1" id="navbarNav">
            <ul class="nav nav-pills mb-3 flex-column flex-lg-row" id="pills-tab" role="tablist">
                <!-- 보드 목록을 반복하여 각 보드에 대한 드롭다운 메뉴를 생성 -->
                <li th:each="board : ${boards}" class="nav-item" role="presentation">
                    <!-- 보드 이름을 클릭할 수 있는 링크로 설정 -->
                    <a th:href="@{/category/{boardId}(boardId=${board.boardId})}"
                       class="nav-link"
                       th:classappend="${board.name == '대나무숲'} ? 'active' : ''"
                       th:text="${board.name}"
                       role="tab">
                    </a>
<!--                    &lt;!&ndash; 드롭다운 메뉴 &ndash;&gt;
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        &lt;!&ndash; 전체 카테고리를 선택할 수 있는 항목 &ndash;&gt;
                        <li>
                            <a th:href="@{/category/{boardId}(boardId=${board.boardId})}" class="dropdown-item">전체</a>
                        </li>
                        &lt;!&ndash; 해당 보드의 각 카테고리 목록을 반복하여 생성 &ndash;&gt;
                        <li th:each="category : ${boardCategories[board.boardId]}" class="dropdown-item">
                            <a th:href="@{/category/{boardId}/{categoryId}(boardId=${board.boardId}, categoryId=${category.categoryId})}"
                               th:text="${category.name}"></a>
                        </li>
                    </ul>-->
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>
