<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Signup Page</title>
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
<div class="container">
    <div class="login-box">
        <div class="small-logo">
            <img src="../small_logo.png" alt="../Small Logo">
        </div>
        <h2>회원 가입</h2>
        <h3>회원가입이 완료 되었습니다.</h3>
        <h4>가입시 사용한 이메일 주소로 로그인을 진행하여 주세요.</h4>


        <a th:href="@{/}"><button class="btn">로그인 하러 가기</button></a>
        <h4>본인인증에 사용하신 소셜을 사용하여 로그인하셔도 됩니다.</h4>

    </div>
    <div class="logo-box">
        <img src="../logo-transparent-svg.svg" alt="KOMMUNITY KOSA MSA5 2024">
    </div>
</div>
</body>
</html>
