<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Signup Page</title>
    <link rel="stylesheet" href="../styles.css">

</head>
<body>
<div class="container">
    <div class="login-box">
        <div class="small-logo">
            <img src="../small_logo.png" alt="Small Logo">
        </div>
        <h2>회원 가입</h2>
        <form th:action="@{/kommunity/signup}" method="post">
            <div th:if="${param.error}">
                <div class="alert alert-danger">
                    KOSA MSA5기 멤버 등록 이메일이 아닙니다.
                </div>
            </div>
            <div class="textbox">
                <input name="email" type="email" placeholder="이메일" required>
            </div>

            <button type="submit" class="btn">이메일 제출</button>

            <div class="signup-prompt">
                <p>기존 회원정보가 기억 나시나요?</p>
                <a th:href="@{/}" class="signup-link">로그인 화면으로 돌아가기</a>
            </div>
        </form>
    </div>
    <div class="logo-box">
        <img src="../logo-transparent-svg.svg" alt="KOMMUNITY KOSA MSA5 2024">
    </div>
</div>
</body>
</html>
