<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div th:fragment="leftSidebarFragment">
    <div class></div> <!-- 상단 여백 추가 -->
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><b># 인기 태그</b></li>
    </ul>

    <ul class="list-group">
        <!-- Dynamic content -->
        <li th:each="entry : ${hashtags}" class="list-group-item d-flex justify-content-between align-items-center">
            <a th:href="@{'#' + ${entry.key}}" th:text="'# ' + ${entry.key}" class="stretched-link link-dark"></a>
            <span th:text="${entry.value}" class="badge bg-primary rounded-pill"></span>
        </li>
    </ul>
</div>
</body>
</html>
