<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div th:fragment="leftSidebarFragment">
    <div class></div> <!-- 상단 여백 추가 -->
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><b># 인기 태그</b></li>
    </ul>

    <ul class="list-group">
        <!-- Dynamic content -->
        <li th:each="hashtag : ${sortedHashtagDTO}" class="list-group-item d-flex justify-content-between align-items-center">
            <a th:href="@{'/posts/search/' + ${boardId} + '?hashtags=' + ${hashtag.name}}" th:text="'# ' + ${hashtag.name}" class="stretched-link link-dark"></a>
            <span th:text="${hashtag.count}" class="badge bg-primary rounded-pill"></span>
        </li>
    </ul>
</div>
</body>
</html>
